.hometitle {
    margin-top: 10px;
    margin-bottom: 5px;
}
.homeinfo {
    margin-top: 10px;
}
.banner {
    max-width: 100%;
    border-radius: 8px;
}
.homebutton {
    margin-left: 5px;
    margin-right: 5px;
}
.catbutton {
max-height: 35px;
}